@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  :root {
    line-height: 1.5;
    font-weight: 400;
    color: #000000;
    background-color: #f8f9fc;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
    min-height: 100vh;
    background-color: #ffffff;
    color: inherit;
    font-family: theme("fontFamily.pretendard");
  }

  a {
    color: theme("colors.blue.normal");
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease;
  }

  a:hover {
    color: theme("colors.blue.normal-hover");
  }
}
